
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #030303;
    color: white;
  }
  
  
  nav{
    display: flex;
    justify-content: space-between;
  }
  
  nav li{
    list-style-type: none;
  }
  
  nav h1{
    padding: 10px 15px;
  }
  
  nav h1:hover{
  cursor: pointer;
    
  }
  
  
  nav a{
    text-decoration: none;
    color:white;
    padding: 10px;
    
  }
   nav ul li{
  display: inline-flex;
     margin: 5px;
  
  } 
  .matilda{
    margin-inline:70rem;
    border-radius:10rem solid white;
  }
  
    
  span{
    color:orange;
  }
  
   a:hover{
          color: orange;
          cursor: pointer;
          padding:5px 0;
          border-radius: 10px;
          transition: transform .4s;
   }
  
   .pix{
    border-radius: 10px;
    border:2px solid orange;
    overflow: hidden;
  }
  
  #about{
    display: flex;
    margin-block: 10rem;
  }
  
  
  
  .me{
    line-height: 2rem;
    font-family: "Big Shoulders Display cursive";
    font-size: 20px;
  }
  .likes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
    margin-bottom: 5px;
    border: 1rem solid orange;
  }
  
  #projects{
  /*   margin-block: 30px; */
    margin-left: 45rem;
    border:1rem solid grey;
    
  }
  footer{
    background-color: #a8a8a8;
   color:black;
   font-weight: bolder;
  
    }
  main #projects a{
    color:black;
    background-color:orange ;
    padding:20px,40px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
    
  }
  
  
  
  
  
  
  
  
  
  
  
     
  
  
  