html, body {
    height: 100%;
    width: 100%;
    background-color:orange;
    text-align: center;
  }
  
  nav{
    display:flex;
    justify-content:space-between;
  
  }
  
  nav li{
    list-style-type: none;
  }
  
  
  
  nav h1:hover{
  cursor: pointer;
    
  }
  
  
  nav a{
    text-decoration: none;
    color:black;
    padding-inline: 5px;
    
  }
    
  
  nav ul li{
  display: inline-flex;
  margin: 5px;
  
  }
  .rem p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 200px;
    margin-left: 10px;
    padding: 20px,o;
  }
  .me{
    font-size: 50px;
    font-family: hervetica;
    font-weight: 100px;
    text-align: center;
    
  }
  .rem input[text="text"]
  {
    padding: 50px;
    border: 2px solid black;
  }